.sub-image-container {
    display: grid;
    grid-template-columns: repeat(10, 101px);
    grid-auto-rows: 150px;
    gap: 10px;
    justify-content: center;
  }
  
  .sub-image {
    width: 101px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
/* 
img {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.1);      opacity: 0.8;          
  } */